@import url(https://fonts.googleapis.com/css?family=Nunito);@font-face {
  font-family: "Segoe UI";
  font-weight: 200;
  src: url(/fonts/segoeuil.ttf?76c30dc8be1105341bb15ec3aada9382) format("truetype");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 300;
  src: url(/fonts/segoeuisl.ttf?f1a86368da908654afdb85dc5a612402) format("truetype");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 400;
  src: url(/fonts/segoeui.ttf?6890c1cceec96f59389bde404789021b) format("truetype");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 700;
  src: url(/fonts/seguisb.ttf?64bf961d712535c6744f18a84d38a632) format("truetype");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 900;
  src: url(/fonts/segoeuib.ttf?eb24b10325f46fe1ebfde8812134fa24) format("truetype");
}

@font-face {
  font-family: "Heading Pro Wide";
  font-weight: 400;
  src: url(/fonts/Heading-Pro-Wide-ExtraBold-trial.ttf?0e83982a387e3fb0a1e2a3b291d00ca2) format("truetype");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #F5EFE1;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-header {
  color: #4b4b4b;
  margin: 30px 0 50px 0;
}

.page-header span {
  position: relative;
  top: 100%;
}

.page-header span small {
  color: #858585;
}

._col {
  background-color: #f00;
}

.navbar {
  padding: 30px;
}

.navbar .logo {
  color: #033B5B;
  font-family: "Heading Pro Wide", sans-serif;
  font-size: 18px;
}

.navbar .nav {
  padding: 10px 0;
  font-size: 14px;
  font-weight: normal;
}

.navbar .nav .item {
  display: inline;
  width: 25%;
  text-align: center;
  color: #FBAE79;
  font-family: "Heading Pro Wide", sans-serif;
  font-size: 10px;
}

.navbar .nav .item.active {
  font-weight: 900;
  color: #033B5B;
}

.navbar .nav .item.active:hover {
  color: #011b2a;
}

.navbar .nav .item:hover {
  color: #fa9047;
}

.homepage .page-header {
  height: 20vh;
  text-align: center;
  margin-bottom: 0px;
}

.homepage .component {
  height: 40vh;
}

.story .small-label {
  color: #304e60;
}

.story .controlBar-alert {
  margin-bottom: 20px;
}

.big-input-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.big-input-container:hover {
  background-color: #f2ebd9;
}

.big-input-container .big-input {
  overflow: hidden;
  display: block;
  font-family: "Georgia", serif;
  font-size: 24px;
  font-weight: normal;
  color: #304e60;
  width: 97%;
  height: 60px;
  padding: 0 15px;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
}

.big-input-container .big-input::-webkit-input-placeholder {
  /* Edge */
  color: #b6b6b6;
}

.big-input-container .big-input::-webkit-input-placeholder,
.big-input-container .big-input:-ms-input-placeholder,
.big-input-container .big-input::placeholder {
  /* Edge */
  color: #b6b6b6;
}

.RichEditor-root {
  /* background: #fff; */
  /* border: 1px solid #ddd; */
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-family: "Georgia", serif;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}

.RichEditor-editor {
  cursor: text;
  font-size: 18px;
  color: #304e60;
  line-height: 1.2;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: "Hoefler Text", "Georgia", serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root {
  position: absolute;
  padding: 10px 0;
  color: #bbbbbb;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
  margin-top: 10px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-controls {
  border-bottom: 1px solid #ddd;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  padding-bottom: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}

.ms-Toggle-stateText {
  margin-top: 3px !important;
}

.interview .page-header {
  height: 20vh;
  text-align: center;
  margin-bottom: 0;
}

.interview .ms-TextField {
  font-family: "Georgia", serif;
  font-weight: normal;
  color: #304e60;
  line-height: 1.2;
}

.interview .ms-TextField:first-child {
  margin-top: 20px;
}

.interview .ms-TextField .ms-Label {
  font-family: "Georgia", serif;
  font-weight: normal;
  font-size: 20px;
  color: #505050;
  padding: 15px 10px;
  line-height: 1.2;
  border: 1px solid #ccc;
  border-radius: 3px 3px 0 0;
  border-bottom: 0;
}

.interview .ms-TextField .ms-TextField-fieldGroup {
  font-size: 18px;
  padding: 10px 5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid #ccc;
}

.interview .ms-TextField .ms-TextField-fieldGroup:hover {
  background-color: #f1e9d6;
}

.interview .ms-TextField.is-active .ms-TextField-fieldGroup {
  background-color: white;
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
}

.interview .ms-TextField.is-active .ms-TextField-fieldGroup::after {
  border: none;
  border-radius: 3px;
}

