// contar
.mi-historia{
    .page-header {
         
    }
    .small-label{
        color:$themePrimary;
    }
    .controlBar-alert{
        margin-bottom: 20px;
    }
}
.big-input-container {
    margin-top: 20px;
    border: 1px solid #ddd;

    &:hover {
        background-color: darken($color: $white, $amount: 2);
    }
    
    .big-input {
        overflow: hidden;
        display: block;
        //font-family: $font-family-sans-serif;
        font-family: 'Georgia', serif;
        font-size: 24px;
        font-weight: normal;
        color: $themePrimary;
        width: 97%;
        height: 60px;
        padding: 0 15px;
        // background-color: darken($color: $white, $amount: 3);

        //reset
        border: none;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        background-image:none;
        background-color:transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        outline: none;

        &::-webkit-input-placeholder,
        &:-ms-input-placeholder,
        &::placeholder { /* Edge */
            color: lighten($color: $black, $amount: 60);
        }

    }
}